---
layout: default
title: Home
---

<header>
	<img src="/assets/images/satellite.png" class="rounded mx-auto d-block img-fluid" title="Our satellites are monitoring all transmissons." alt="A grayscale drawing of a communications satellite">
</header>

<details open class="mb-4 pb-1">
	<summary class="h3">
		About
	</summary>
	<div class="ps-4">
		<p>Hello. I'm <a href="https://www.linkedin.com/in/jeffsteward/" target="_blank">Jeff</a>. I make websites. I write software. I visualize data. I dream of fantastic futures, then attempt to build them.</p>
		<p>I try to make these things fun, enjoyable, and thought-provoking. Sometimes I build physical interfaces to make interacting with data tangible and a bit more special.</p>
		<p>Every once in a while I get to <a href="#talks">talk</a> about my work at conferences and such.</p>
	</div>
</details>

<details open class="mb-4 pb-1">
	<summary class="h3">
		Connect
	</summary>			
	<ul class="list-unstyled ps-4">
		<li class="mb-3">
			<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/"><img class="icon me-3" src="/assets/images/linkedin.svg" alt="Link to LinkedIn account">linkedin.com/in/{{ site.linkedin_username }}</a>
		</li>
		<li class="mb-3">
			<a href="https://github.com/{{ site.github_username }}"><img class="icon me-3" src="/assets/images/github-mark.svg" alt="Link to GitHub account">github.com/{{ site.github_username }}</a>
		</li>
		<li class="mb-3">
			<a href="mailto:{{ site.email }}"><img class="icon me-3" src="/assets/images/envelope.svg" alt="Link to email address">{{ site.email }}</a>
		</li>
	</ul>
</details>

<details open class="mb-4 pb-1" id="websites">
	<summary class="h3">
		Websites
	</summary>
	<ul class="list-unstyled ps-4">
		<li>
			<a href="https://www.whatisjeffbaking.com/">
				<div class="media-body">
					<h4 class="media-heading">What is Jeff Baking?</h4>
				</div>
			</a>
		</li>
		<li>
			<a href="https://www.museumofthemodernsnowglobe.com/">
				<div class="media-body">
					<h4 class="media-heading">Museum of the Modern Snowglobe</h4>
				</div>
			</a>
		</li>
		<li>
			<a href="https://mockyachtrock.boats/">
				<div class="media-body">
					<h4 class="media-heading">Mock Yacht Rock</h4>
				</div>
			</a>
		</li>			
	</ul>
</details>

<details open class="mb-4 pb-1" id="projects">
	<summary class="h3">
		Projects
	</summary>
	<ul class="list-unstyled ps-4"> 
		{% for project in site.projects %}
		<li>
			<a href="{{project.url}}">
				<div class="media-body">
					<h4 class="media-heading">{{ project.title }}</h4>
				</div>
			</a>
			<!-- {{ project.description }} -->
		</li>
		{% endfor %}
	</ul>
</details>

<details open class="mb-4 pb-1" id="talks">
	<summary class="h3">
		Talks
	</summary>
	<ul class="list-unstyled ps-4">
		{% for talk in site.data.talks %}
		<li class="mb-3">
			<a href="{{ talk.url }}">
				<div class="media-body">
					<h4 class="media-heading">{{ talk.title }}</h4>
				</div>
			</a>
			<div class="lead mb-1">
				{{ talk.date | | date: "%B %d, %Y"}} during {{ talk.event }}
			</div>
			<div class="text-muted">
				Topics: {{ talk.topics | array_to_sentence_string }}<br/>
				{{talk.url_type | capitalize}} ({{talk.duration}})
			</div>
		</li>
		{% endfor %}
	</ul>
</details>
